.Header {
  font-weight: 300;
  font-size: 40px;
  height: 84px;
  background: #101010;
  display: flex;
  padding: 0px 60px 0px 60px;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-family: "SF Pro Display";
  font-weight: 700;
  font-size: 30px;
  color: white;
}
